<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-show与v-if</title>
    <style>
        img {
            height: 500px;
            width: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="button" value="v-show切换图片状态" @click='changestate'>
        <input type="button" value="增加年龄" @click='addage'>
        <input type="button" value="v-if切换图片状态" @click='isShow'>
        <img src="/image/IU.jpg" v-show='state'>
        <img src="/image/IU.jpg" v-show='age>=18'>
        <img src="/image/img-16239985398504485455a28c99a8e0f61f75bba86f55a.jpg" v-if='Show'>
        <h2 v-if='temperature<=10'>真的冷啊 </h2>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                age: 16,
                state: false,
                Show: false,
                temperature: 8,
            },
            //v-show的原理是改变display的属性值, 它会把值都解析为blur值 
            methods: {
                changestate: function () {
                    this.state = !this.state;//通过一个方法去改变v-show的属性值
                },
                addage: function () {
                    this.age++;
                },
                isShow: function () {
                    this.Show = !this.Show//v-if的原理是操作dom元素,即移除或添加dom元素

                }
            }
            //所以, 在频繁显示或隐藏时使用v-show,反之使用v-if.
        })
    </script>
</body>

</html>