<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div id="app">
        {{message}}

        <h1 v-if='type==="a"'>A</h1>
        <h1 v-else-if='type==="b"'>B</h1>
        <h1 v-else-if='type==="c"'>c</h1>
        <h1 v-else>null</h1>
        <li v-for='(item,index) in items'>
            {{item.message}}----{{index}}
        </li>
        <button v-on:click='hello'>click me</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        var vm = new Vue({
            el: '#app',//可以作用于命中元素及其内部的后代元素  
            //el 不能使用html和body标签 ;建议使用ID选择器,而不是其他选择器
            data: {
                message: "hello,vue",
                type: 'b',
                items: [
                    { message: '冷' },
                    { message: '不冷' },
                    { message: '热' }

                ]
            },
            methods: {
                hello: function () {
                    alert(this.message)
                }
            }
        });
    </script>
</body>

</html>