*{
	margin: 0px;
	border: 0px;
}
body{
	background-image: url(../img/bg.jpg);
}
.score{
	width: 300px;
	height: 300px;
	background-image: url(../img/score.png);
	background-size: cover;
	position: absolute;
	right:30px;
	bottom:50px;
	text-align: center;
	line-height: 300px;
	font-size: 120px;
}
.bottom{
	width: 100%;
	height: 50px;
	background-color: black;
	opacity: .6;  
	position: absolute;
	bottom:0px;
}
.btn{
	width: 166px;
	height: 40px;
	background-image: url(../img/stop.png);
	background-size: 169px 58px;	
	background-position: 0px -10px;
	position: absolute;
	font-size: 20px;
	border: none;
	font:bold;
	cursor: pointer;
	text-align: center;
	line-height:40px ;
}
.btnl{
	left: 100px;
}
.btnr{
	left: 400px;
}
input{
	width: 100px;
	height: 100px;
/* 	background:url(../img/A.png);  js引入*/
	border: none;
	font-size: 0px;
	position: absolute;

}
