<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 300px;
            height: 300px;
            border: 1px solid #ccc;
        }
    </style>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <span>R:</span>
            <input type="text" v-model="r">
        </div>
        <div>
            <span>G:</span>
            <input type="text" v-model="g">
        </div>
        <div>
            <span>B:</span>
            <input type="text" v-model="b">
        </div>
        <!-- 颜色盒子div -->
        <div class="box" :style="{backgroundColor:`rgb(${r},${g},${b})`}">
            {{`rgb(${r},${g},${b})`}}
        </div>
        <button @click="show">按钮</button>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                r: 0,
                g: 0,
                b: 0
            },
            methods: {
                show() {
                    console.log(`rgb(${this.r},${this.g},${this.b})`);
                }
            },

        })
    </script>
</body>

</html>