body{
	background: url(../img/bg.gif);
	background-size: cover;
	z-index: 0;
}
#player{
	background: url(../img/m_bg.jpg);
	background-size: cover;
	width: 900px;
	height: 200px;
	top:150px;
	left: 100px;
	position: absolute;
	
	z-index: 1;
}
#cont{
	background-color: black;
	position: absolute;
	width: 600px;
	height: 100px;
	left: 0;
	bottom: 150px;
	z-index: 1;
}
#pic{
	background: url(../img/1.jpg);
}